@using Movie.Models
@model IEnumerable<Seat>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Phim</th>
            <th scope="col">Phòng</th>
            <th scope="col">Giờ chiếu</th>
            <th scope="col">Vị trí ghế</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var seat in Model)
        {
            <tr>
                <td>@seat.Showtime.Movie.Title</td>
                <td>@seat.Showtime.Room.Name</td>
                <td>@seat.Showtime.Time</td>
                <td>@seat.Place</td>
                <th scope="row">
                    <a asp-controller="Seat" asp-action="CancelSeats" asp-route-place="@seat.Place" asp-route-showtimeId="@seat.ShowtimeId">Hủy chỗ ngồi</a>
                </th>
            </tr>
        }
    </tbody>
</table>
